* {
padding: 0;
margin: 0;
box-sizing: border-box;
}

body {
display: flex;
min-height: 100vh;
justify-content: center;
align-items: center;
background-color: #f0f0f0;
font-family: "Hahmlet", serif;
}

.container {
display: flex;
flex-direction: column;
width: 80%;
max-width: 450px;
border-radius: 10px;
overflow: hidden;
background: linear-gradient(to top, #f1c8c5, #f5efef);
margin: 15px;
padding: 15px;
box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}
header {
margin-top: 18px;
}
#search {
width: 100%;
max-width: 450px;
padding: 12px;
border-radius: 7px;
border: 1px solid #a69b9b;
margin-top: 10px;
font-size: 18px;
}

#submit-btn {
padding: 12px 14px;
border-radius: 7px;
border: 1px solid #8a8282;
background-color: #efc3bf;
font-size: 18px;
font-weight: 600;
letter-spacing: 1px;
margin-top: 10px;
cursor: pointer;
}
.weather-div {
margin-top: 20px;
}
	#weather{
	font-size: 3rem;
	font-weight: bold;
	
	}

#weather-description{
position: relative;
top:-40px;
bottom: 50px;
margin-left: 17px;
font-size: 16px;
font-weight: 700;
color:gray;
}
#c-sign{
position: relative;
top:-23px;
font-size: 25px;
}
#icon-img{
width: 90px;
height: 85px;
position: relative;
bottom:-10px;
}

footer {
text-align: center;
margin-top: 20px;
font-size: 14px;
font-weight: 700;
color: #777;
}
a{
text-decoration: none;
color:#5b2966;
}
.first-div{
display: flex;
justify-content: space-between;
padding: 0 10px 0px 10px;
margin-bottom: 0;
}
.mid-img{
margin: 0 auto;
display: flex;
justify-content: center;
align-items: center;
padding: 0px 0px 0 0px;
}
.middle-img{
margin: 0 auto;
width: 100%;
height: 250px;
border:none;
margin: 0;
border-radius: 0;
}
h1{
font-size: 30px;
font-weight: 600px;
margin: 10px 0 0 0px;
padding-bottom: 0;
}
h2{
margin:10px 0 5px 15px;
letter-spacing: 1px;
font-size: 25px;
}
.h3{
margin:10px 0 5px 25px;
letter-spacing: 1px;
font-size: 30px;
}

.five-days-weather{
display:flex;
max-width: 95%;
align-items: center;
justify-content:space-between;
border: none;
border-radius: 10px;
margin-right: 5px;
margin-left: 5px;
padding:7px;
}
.day{
border: none;
padding: 18px 2px;
border-radius: 50px;
margin: 5px 1px 1px 1px;
text-align: center;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
background: linear-gradient(to top, #feada6 0%, #f5efef 100%);
}
img{
width: 40px;
height: 40px;
border-radius: 20px;
}
small{
font-size: 1rem;
color:rgb(108, 101, 101);
}
@media screen and (min-width: 768px) {
.container {
	width: 80%;
	max-width: 620px;
}}
